body{
	margin:10px;
}

#shorts{
	width:200px;
	margin:0 auto;
}

pre{
	font-size:11px;
}
table{
	margin:0 auto;
}

table, th, td{
	border: 1px solid black;
}

h1:hover{
	cursor:hand;
}

h1 .fa {
  font-size: 50%;
  vertical-align: middle;
}

.slides{
	padding-left:20px;
}

.question{
	padding-left:20px;
}

.answer{
	padding-left:40px;
}